extends layout

block content
    h1 Secret Page!
    h2 Hello #{user.name}. You are logged in!
    p Your Encrypted password is ...
    p #{user.password}
    form(method="POST" action=logoutPath style="margin: 20px 0; max-width: 600px; padding: 20px; border: 1px solid #ccc;")
        input(type="hidden" name="_csrf" value=_csrf)
        button(type="submit") Logout


